---
// import Dropdown from "../components/navbar/dropdown.astro";
---

<div
  class="hero md:h-screen h-60 md:bg-[bottom,center] bg-bottom bg-no-repeat bg-cover"
  id="hero">
  <div class="hero-overlay bg-opacity-50 bg-blend-multiply bg-[#503607] z-10">
  </div>
  <div
    class="flex items-center justify-center max-w-7xl w-full gap-4 p-4 text-center text-neutral-content z-20">
    <div class="w-full">
      <h1 class="mb-5 text-xl md:text-5xl w-full font-bold text-white">
        Cuban Trip Experience
      </h1>
      <p class="mb-5 w-full md:text-xl text-xs">
        Discover the beauty of Cuba with our taxi service.
      </p>
      <p class="md:mb-5 w-full md:text-xl text-xs mt-[-18px]">
        Tour the island with comfort and safety.
      </p>
      <!-- <button
        class="btn btn-primary bg-[#BAAF42] border-none px-6 hover:bg-[#F1CB10] hover:text-black mt-10"
        >Book</button
      > -->
    </div>
  </div>
</div>

<style>
  #hero {
    background-image: url(../../assets/hero.webp);
  }
</style>

<!-- {item.children && (
  <Dropdown
    title={item.title}
    children={item.children}
    lastItem={index === menuitems.length - 1}
  />
)} -->
