---
import Dropdown from "./dropdown.astro";
import { MenuItems } from "astro-navbar";

const menuitems = [
  {
    title: "Features",
    path: "#",
    children: [
      { title: "Action", path: "/" },
      { title: "404 Page", path: "/404" },
    ],
  },
  {
    title: "Destinations",
    path: "/pricing",
  },
  {
    title: "Services",
    path: "/about",
  },

  {
    title: "Contact us",
    path: "/contact",
  },
];
---

<!-- El Problema es aquiðŸ‘‡ðŸ½ -->
<footer
  class="flex items-center justify-center bg-[#494944f1] py-3 mx-[105px] rounded-xl z-20 sticky top-0 mt-[-70px]"
  style="
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
  ">
  <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0 ml-52">
    <ul class="flex flex-col lg:flex-row lg:gap-3">
      {
        menuitems.map((item, index) => (
          <>
            {!item.children && (
              <li>
                <a
                  href={item.path}
                  class="flex lg:px-3 py-2 text-white text-base font-semibold hover:text-[#F3CB11]">
                  {item.title}
                </a>
              </li>
            )}
          </>
        ))
      }
    </ul>
  </MenuItems>
  <a href="http://localhost:3000/contact">
    <button
      class="btn bg-[#BAAF42] text-white border-none px-6 hover:bg-[#F1CB10] hover:text-black ml-16 rounded-md">
      Book
    </button>
  </a>

  <details class="dropdown ml-10">
    <summary class="btn bg-slate-700 hover:bg-slate-500 border-none"
      >ðŸ˜Ž Flags</summary
    >
    <ul class="p-2 shadow menu dropdown-content bg-slate-500 rounded-box w-20">
      <li><a class="bg-slate-300 hover:bg-slate-700 mt-1">ðŸ˜‘</a></li>
      <li><a class="bg-slate-300 hover:bg-slate-700 mt-1">ðŸ˜‹</a></li>
      <li><a class="bg-slate-300 hover:bg-slate-700 mt-1">ðŸ˜«</a></li>
    </ul>
  </details>

  <style>
    .slide-top {
      animation: slide-top 0.5s linear both;
      position: sticky;
    }
    @keyframes slide-top {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-70px);
      }
    }
  </style>
</footer>
